<% @content.each do |section| %>
  <section id="<%= section['name'] %>-listing">
    <h2>
      <a href="<%= section['name'] %>"><%= section['name'].capitalize %></a>
    </h2>
    <%= section['content'] %>
  </section>
<%end%>

<aside><%= @links %></aside>
