<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/jpg" href="/public/img/citoyenentransition-logo.png"/>
    <link rel="stylesheet" href="/public/css/style.css" media="all" />
    <script src="/public/js/app.js" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1><a href="/"><%= title %></a></h1>
      <p>Petit guide du citoyen qui a envie d'actions concrètes
      dans son quotidien pour contribuer à un environnement plus sain.</p>
    </header>
    <div class="container">
      <%= content %>
      <aside id="links"><%= links %></aside>
    </div>
    <footer>
      <ul>
        <li class="ruby" title="Fait avec ruby"></li>
        <% if github %>
        <li class="github">
          <a
            href="<%= github['url'] %>"
            title="<%= github['title'] %>"
            target="_blank">
            github
          </a>
        </li>
        <% end %>
        <% if twitter %>
        <li class="twitter">
          <a
            href="<%= twitter['url'] %>"
            title="<%= twitter['title'] %>"
            target="_blank">
            twitter
          </a>
        </li>
        <% end %>
      </ul>
      <p><a href="https://tarikamar.fr" target="_blank">t@r1k</a></p>
    </footer>
  </body>
</html>
